.html {
    font-family: "Hachi Maru Pop", cursive;
    line-height: 1.5;

}

.head {
    width: 100%;
    height: 250px;
    background-color: rgb(18, 18, 18);
    position: relative;
}

.image {
    background-color: rgb(18, 18, 18);
    width: 150px;
    margin-top: 20px;
    transition: 0.4s;
    animation-name: spin;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

}

@keyframes spin {
    from {
        transform: translateX(0) translateY(0);
    }

    to {
        transform: translateX(1000px) translateY(0) rotate(360deg);
    }
}

.detektiv {
    color: rgb(18, 18, 18);
    position: absolute;
    animation-name: visible1;
    animation-duration: 8s;
    height: 60px;
    top: 45px;
    width: 80px;
    animation-fill-mode: forwards;
    font-weight: bold;


}

@keyframes visible1 {
    from {
        transform: translateX(1065px) translateY(0);
        color: rgb(18, 18, 18);
    }

    to {
        transform: translateX(1065px) translateY(0);


    }
}

.h1q {

    margin-top: 70px;
    animation-name: da;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    position: absolute;
}

@keyframes da {
    from {
        color: rgb(18, 18, 18);
    }

    to {
        color: antiquewhite;
    }
}

.main {
    background-image: url(https://www.cityinvestigators.in/wp-content/uploads/2025/09/Detective-Agency-In-Mumbai-1-1024x576.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.h2q {
    font-size: 50px;
    justify-content: center;
    color: rgb(255, 57, 57);
    font-weight: 600;

    margin-bottom: 7px;

}

.info {
    border-left: 1px solid white;
    color: rgb(228, 217, 217);
    transition: 0.5s;
    padding: 20px;
    margin-top: 55px;
    margin-right: 18px;
}

.info:hover {
    border: 5px solid white;
    box-shadow: 5px 5px rgba(201, 199, 199, 0.263);
    scale: 1.11;
}

.diagram {
    background-color: antiquewhite;
}