.html {
    font-family: "Hachi Maru Pop", cursive;
    line-height: 1.5;

}

.head {
    width: 100%;
    height: 250px;
    background-color: rgb(18, 18, 18);
    position: relative;
}

.image {
    background-color: rgb(18, 18, 18);
    width: 150px;
    margin-top: 20px;
    transition: 0.4s;
    animation-name: spin;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

}

@keyframes spin {
    from {
        transform: translateX(0) translateY(0);
    }

    to {
        transform: translateX(1000px) translateY(0) rotate(360deg);
    }
}

.detektiv {
    color: rgb(18, 18, 18);
    position: absolute;
    animation-name: visible1;
    animation-duration: 8s;
    height: 60px;
    top: 45px;
    width: 80px;
    animation-fill-mode: forwards;
    font-weight: bold;


}

@keyframes visible1 {
    from {
        transform: translateX(1065px) translateY(0);
        color: rgb(18, 18, 18);
    }

    to {
        transform: translateX(1065px) translateY(0);


    }
}

.h1q {

    margin-top: 70px;
    animation-name: da;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    position: absolute;
}

@keyframes da {
    from {
        color: rgb(18, 18, 18);
    }

    to {
        color: antiquewhite;
    }
}

.main {
    background-image: url(https://www.cityinvestigators.in/wp-content/uploads/2025/09/Detective-Agency-In-Mumbai-1-1024x576.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.h2q {
    font-size: 50px;
    justify-content: center;
    color: rgb(255, 57, 57);
    font-weight: 600;

    margin-bottom: 7px;

}

.info {
    border-left: 1px solid white;
    color: rgb(228, 217, 217);
    transition: 0.5s;
    padding: 20px;
    margin-top: 55px;
    margin-right: 18px;
}

.info:hover {
    border: 5px solid white;
    box-shadow: 5px 5px rgba(201, 199, 199, 0.263);
    scale: 1.11;
}

.diagram {
    background-color: rgba(133, 143, 132, 0.188);
    height: 300px;
    font-size: 24px;
    font-weight: 800;
  justify-content: start;
  margin-top: 70px;


}
.fd{
writing-mode: vertical-lr; 
  text-orientation: upright;  
}
.cases{
    border-left:5px solid white ;
    border-bottom:5px solid white;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.467);
    
}
.col{
    background-color: white;
    transition: 3s;
    margin-inline: 30px;
     height: 1px;
         width: 10%;
          animation-duration: 10s;
   animation-fill-mode: forwards;
   transition: 5s ease-in;
}
.yearsd{
    
       background-color: rgba(219, 224, 218, 0.296);}
.years{
    margin-left:65px ;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    gap: 50px;
}
@keyframes c1 {
   0%{
        height: 1px;
         width: 10%;
    }
    50%{
        height: 120px;
        width: 10%;
    }
    100%{
         height: 1px;
         width: 10%;
    }
}
@keyframes c2 {
   0%{
        height: 1px;
         width: 10%;
    }
    50%{
        height: 140px;
         width: 10%;
    }
     100%{
        height: 1px;
         width: 10%;
    }
}
@keyframes c3 {
    0%{
        height: 1px;
         width: 10%;
    }
    50%{
        height: 170px;
         width: 10%;
    }  100%{
        height: 1px;
         width: 10%;
    }
}
@keyframes c4 {
     0%{
        height: 1px;
         width: 10%;
    }
    50%{
        height: 210px;
        width: 10%;
    }  100%{
        height: 1px;
         width: 10%;
    }
}
@keyframes c5 {
    0%{
        height: 1px;
         width: 10%;
    }
    50%{
        height: 240px;
        width: 10%;
    }  100%{
        height: 1px;
         width: 10%;
    }
}
@keyframes c6 {
    0%{
        height: 1px;
         width: 10%;
    }
    
    50%{
        height: 280px;
           width: 10%;
    }
      100%{
        height: 1px;
         width: 10%;
           
    }
}
.diagram:hover .col1{
     animation-name: c1;
   a
}
.diagram:hover .col2{
     animation-name: c2;

}
.diagram:hover .col3{
     animation-name: c3;

}
.diagram:hover .col4{
     animation-name: c4;

}
.diagram:hover .col5{
     animation-name: c5;

}
.diagram:hover .col6{
     animation-name: c6;
  
}
.foot{
    background-color: black;
    width: 100%;
    
}