html {
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
}

.menu {
    width: 100%;
    height: 100px;
    background: #9e0e0e;
    background: radial-gradient(circle, rgba(158, 14, 14, 1) 26%, rgba(255, 181, 181, 1) 43%, rgba(135, 216, 232, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;

}

.menuitems1 {
    display: flex;
    align-items: center;
    gap: 20px;

}

.items {
    color: #1a1a2e;
    font-weight: 500;
    font-style: italic;
    transition: 0.4s;


}

.items:hover {
    color: #994848;
    margin-right: -10px;
}

.logo1 {
    border-radius: 50%;
    width: 10%;
    margin-left: 25px;

}

.menuitems {
    margin-right: 150px;
}
.itemsl{
    font-size: 50px;
}
.head{
    background-image: url(./Gemini_Generated_Image_7nks247nks247nks.png);
    background-position: bottom bottom;
    -webkit-background-clip: text;
  
}
.info{
  margin: 10%;
    color: transparent
}
.wp{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.agg{
    border:2px solid white;
    margin-top: 200px;
    padding: 18px;
    font-weight: 600;
    margin-right: 20px;
    transition: 0.3s;
}
.agg:hover{
    margin-top: 195px;
    background-color: transparent;
    color: #8de3eeb6;
   
}
.ds{
    font-size: 28px;
    font-weight: 800;
    transition: 0.5s;
}
.ds:hover{
    padding-left: 20px;
    color: #8de3eeb6;
}
.main{
    background: #a33764;
background: radial-gradient(circle, rgba(163, 55, 100, 1) 8%, rgba(39, 101, 184, 1) 99%);
}
.infor{
    padding: 20px;
    border: 1px solid whitesmoke;
    overflow: hidden;
}
.infor:hover{
    color: burlywood;
    background-color: #a95377;
    cursor: pointer;
    scale: 1.05;
}
.news{
    display: grid;
    grid-template:repeat(2,1fr)/repeat(2,1fr);
    gap: 3px;
}
.cff{
    background-color: #5151a7;
}
.w{
    margin-top: 10%;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}
#da{
    width: 280px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.705);
    border-radius: 5%;
}
.d:hover{
    color: white;
    cursor: pointer;
}
#da:focus{
    background-color: rgb(75, 62, 212);
    border: none;
}
 .gmi{
    height: 300px;
    position: relative;
    width: 202.19px;
    
} 


.qw{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.name2{
    color: #7f0404;
    font-size: 23px;
}
.info3{
    font-size: 12px;
    color: darkgrey;
}
.rate{
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 255, 255, 0.529);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.player{
     position: absolute;
    z-index: 2;
    margin-top: 111px;
    margin-left: 83px;
    background-color: cornsilk;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
     visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.qw:hover .white{
     visibility: visible;
    opacity: 1;

}
.qw:hover .player{
       visibility: visible;
    opacity: 1;
}
.qw:hover .rate{
     visibility: visible;
    opacity: 1;
}
.qw:hover .infort{
    text-decoration: line-through;
}
.white  {
    background-color: rgba(255, 255, 255, 0.474);
    position: absolute;
    height: 300px;
    width: 14.7%;
    z-index: 1;
    transition: 0.5s;
         visibility: hidden;
    opacity: 0;
}
.qw:hover{
    cursor: pointer;
}
input::placeholder{
    font-weight: 500;
    color: black;
    font-style:italic ;
}
.backgrdfdddd{
    background: #bf21c2;
background: linear-gradient(0deg, rgba(191, 33, 194, 1) 13%, rgba(253, 187, 45, 1) 93%);
height: 100vh;
/* display: flex; */
/* justify-content: center; */
align-items: center;
}
.login {
    margin-top: 15%;
    display: flex;
    justify-content:center ;
    align-items: center;
    border: 2px solid rgba(235, 235, 235, 0.381);
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    border-radius: 7px;
    background-color: rgb(255, 221, 221);
}
.he2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.p2{
    color: rgb(135, 45, 128);
    font-weight: 500;
}
.in2{
    height: 25px;
    margin-bottom: 18px;
}
.login2{
    
    width: 100px;
    height: 30px;
    background-color: pink;
    border-color: transparent;
    border-radius: 10px;
    transition: 0.4s;
}
.sda{
    display: flex;
     justify-content:center ;
    align-items: center;
    gap: 10px;
    

}
.login2:hover{
    background-color: #bf21c2;
    color: white;
}
.exit{
    display: block;
}
.backgrhdfdddd{
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
height: 100vh;
}
.support {
    margin-top: 10%;
    display: flex;
    justify-content:center ;
    align-items: center;
    border: 2px solid rgba(235, 235, 235, 0.381);
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    border-radius: 7px;
    background-color: rgba(33, 211, 205, 0.471);
}
.hf{
    min-height: 200px;
    min-width: 300px;
}
.AS{
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(237, 135, 135, 1) 46%, rgba(67, 25, 145, 1) 100%);
}
.GHY{
   margin-top: 20%;
   margin-left: 30%;
   font-size: 28px;
}
.jk{
    margin-top: 50px;
}
.sad{
    background-color: #121212 !important;

    width: 100%;
}
.green{
    background-color: #1ED760 !important;
}
.infoq{
    border: 1px solid rgb(182, 174, 174);
    color: white;
    text-align: center;
}
.brd{
    border: 1px solid rgba(181, 181, 181, 0.532) !important;
    color: #dcd8d894 !important;
    margin-top: 80px;
}
.blue{
    background-color:#121217 !important;
   
}
.sad1{
    background-color:#101014;
}
.der{
    color: white;
   font-weight: 600;
    display: flex;
    text-align: center;
   border: 1px solid rgba(181, 181, 181, 0.532) !important;
   border-radius: 55px;
   position: relative;
}
.gamer{
    margin-top:15px;
}
.der p{
    margin-bottom: 0;
 width: 100%;
  align-self: center;
}
.whiter{
    background-color: rgba(255, 255, 255, 0.437);
  
    position: absolute;
    z-index: 1;
    height: 100%;
    border-radius: 55px;
    animation-name: whiterr;
    animation-duration: 27s;
    opacity: 0.2;
   
    animation-iteration-count: infinite;
}
@keyframes whiterr {
    0%{
        width: 0%;
    }
    39%{
        width: 100%;
    }
    39%, 100%{
        width: 100%;
        opacity: 0.2;
        
    }
    
}
.z1{
    animation-delay: 10.2s;
    animation-duration: 27s;
    animation-name: whiterr1;

}
@keyframes whiterr1 {
    0%{
        width: 0%;
    }
8%{
        width: 100%;
    }
    8%, 100%{
        width: 100%;
        opacity: 0.2;
        
    }
    
}
.z2{
    animation-delay: 13s;
    animation-duration: 27s;
    animation-name: whiterr1;
}
.z3{
    animation-delay: 17s;
    animation-duration: 27s;
    animation-name: whiterr1;
}
.z4{
    animation-delay: 21.8s;
    animation-duration: 27s;
    animation-name: whiterr1;
}
.gt:hover{
    margin-left: 10px;
}