html{
   font-family: "Inter", sans-serif;
   line-height: 1.7;
   background-color: rgb(231, 237, 243);
}
.head{
   background-image: url(./Screenshot\ 2026-02-06\ 130452.png);
    height: 100vh;
    position: relative;
}
.menu{
    width: 100%;
    height: 80px;
    background-color:hsla(0, 0%, 100%, .98);;
    display: flex;
  justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logo1{
    font-weight: 700;
    font-size: 1.5rem;
    color: #563d7c;
    margin-left: 110px;
}
.menuitems1{
    display: flex;
    align-items: center;

}
.items{
    color: #1a1a2e;
        font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    margin: 0 7px;
}
.itemsl{
font-size: 25px;
  margin: 0 7px;
}
.items:hover{
    color: #563d7c;
}
.itemsl:hover{
    color: #563d7c;
}
.image{
    max-width: 350px;
        margin: 45px auto 2.5rem auto;
        height: 85px;
        margin-top: 230px;}
.textp{
font-size: 2rem;
    color: hsla(0, 0%, 100%, .95);
    margin-bottom: 2.5rem;
    font-weight: 400;
    text-align: center;
   
}
.bu{
    background-color: white;
    width: 227px;
    height: 65px;
    border-radius: 16px;
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.1);
    border: none;
    transition: 0.3s;
    
}
.bu1{
    color: #563d7c;
    font-weight: 600;
  font-size: 16px;
}
.but{
   background-color:  hsla(0, 0%, 100%, .15);
       border: 2px solid hsla(0, 0%, 100%, .3);
}
.but1{
    color: white;
    font-size: 16px;
    font-weight: 600;

}
.d:hover{
    margin-top: -10px;
    color: #1a1a2e;
}
.but:hover{
     background-color:  hsla(0, 0%, 100%, 0.325);
}
.dowlaund{
    padding: 48px 32px;
    width: 1000px;
    height: 200px;
    background-color: white;
    margin: 0 148px;
    border-radius: 1.5rem;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    box-shadow:  0 8px 30px rgba(0, 0, 0, 0.12);;
}
.years{
    font-size: 3.5rem;
    font-weight: 800;
    color: #563d7c;
    line-height: 1;
    margin-bottom: 0.5rem;

}
.info2{
    display: flex;
    flex-direction: column;
    text-align: center;
}